<div ng-controller="PageBodyCtrl as PageBodyCtrl">
  <div class="container" ng-controller="TabCtrl as TabCtrl">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <ul class="nav nav-pills">
            <li ng-class="{active:TabCtrl.isTabSelected(tabKey)}" ng-repeat="tabKey in TabCtrl.tabKeys()">
              <a href="#" ng-click="TabCtrl.clickTab(tabKey)">{{TabCtrl.tabTable[tabKey].label}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-include="TabCtrl.tabContentPage()"></div>
    </div>
  </div>
</div>